node_modules/
miniprogram_npm/

# https://developers.weixin.qq.com/miniprogram/dev/devtools/projectconfig.html
project.private.config.json

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
